@media (prefers-color-scheme: light) {
    :root {
        --surface-a: #ffffff;
        --surface-b: #fafafa;
        --surface-c: rgba(0, 0, 0, .04);
        --surface-d: rgba(0, 0, 0, .12);
        --surface-e: #ffffff;
        --surface-f: #ffffff;
        --text-color: rgba(0, 0, 0, 0.87);
        --text-color-secondary: rgba(0, 0, 0, 0.6);
        --primary-color: #673AB7;
        --primary-color-text: #ffffff;
        /* --font-family:Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif; */
        --surface-0: #ffffff;
        --surface-50: #FAFAFA;
        --surface-100: #F5F5F5;
        --surface-200: #EEEEEE;
        --surface-300: #E0E0E0;
        --surface-400: #BDBDBD;
        --surface-500: #9E9E9E;
        --surface-600: #757575;
        --surface-700: #616161;
        --surface-800: #424242;
        --surface-900: #212121;
        --gray-50: #FAFAFA;
        --gray-100: #F5F5F5;
        --gray-200: #EEEEEE;
        --gray-300: #E0E0E0;
        --gray-400: #BDBDBD;
        --gray-500: #9E9E9E;
        --gray-600: #757575;
        --gray-700: #616161;
        --gray-800: #424242;
        --gray-900: #212121;
        --content-padding: 1rem;
        --inline-spacing: 0.5rem;
        --border-radius: 4px;
        --surface-ground: #fafafa;
        --surface-section: #ffffff;
        --surface-card: #ffffff;
        --surface-overlay: #ffffff;
        --surface-border: rgba(0, 0, 0, .12);
        --surface-hover: rgba(0, 0, 0, .04);
        --focus-ring: none;
        --maskbg: rgba(0, 0, 0, 0.32);
        --highlight-bg: rgba(103, 58, 183, 0.12);
        --highlight-text-color: #673AB7;
        color-scheme: light;
    }
}