[data-theme="auto"] {
    @media (prefers-color-scheme: dark) {
        .menuForChrome {
            background: #2b2b2b;
            border: 0 none;
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
            padding: 0.5rem 0;
            color: rgba(255, 255, 255, 0.87);
            border-radius: 4px;
            width: 12.5rem;
            font-size: 1rem;
            font-weight: normal;
        }

        .menuForChrome>.p-menu-list>.p-menuitem>.p-menuitem-link {
            padding: 1rem 1rem;
            color: rgba(255, 255, 255, 0.87);
            border-radius: 0;
            transition: none;
            user-select: none;
        }

        .menuForChrome>.p-menu-list>.p-menuitem>.p-menuitem-link:hover {
            background: rgba(255, 255, 255, 0.04)
        }

        .menuForChrome>.p-menu-list>.p-menuitem>.p-menuitem-link>.p-menuitem-icon {
            color: rgba(255, 255, 255, 0.6);
            margin-right: 0.5rem;
        }

        .calendarForChrome .p-datepicker {
            padding: 0.5rem;
            background: #1e1e1e;
            color: rgba(255, 255, 255, 0.87);
            border: 1px solid hsla(0, 0%, 100%, 0.3);
            border-radius: 4px;
        }

        .calendarForChrome .p-datepicker .p-datepicker-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem;
            color: rgba(255, 255, 255, 0.87);
            background: #1e1e1e;
            font-weight: 500;
            margin: 0;
            border-bottom: 1px solid hsla(0, 0%, 100%, 0.12);
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }


        .calendarForChrome .p-datepicker .p-datepicker-title {
            color: rgba(255, 255, 255, 0.87);
            font-weight: 500;
            margin: 0 auto 0 0;
            order: 1;
            line-height: 2.5rem;
        }

        .calendarForChrome .p-datepicker .p-datepicker-title .p-datepicker-month {
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
            font-weight: 500;
            padding: 0.5rem;
            margin-right: 0.5rem;
        }

        .calendarForChrome .p-datepicker .p-datepicker-title .p-datepicker-month:hover {
            color: #CE93D8;
        }

        .calendarForChrome .p-datepicker .p-datepicker-title .p-datepicker-year {
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
            font-weight: 500;
            padding: 0.5rem;
            margin-right: 0.5rem;
        }

        .calendarForChrome .p-datepicker .p-datepicker-title .p-datepicker-year:hover {
            color: #CE93D8;
        }

        .calendarForChrome .p-datepicker .p-datepicker-prev {
            order: 2;
            width: 2.5rem;
            height: 2.5rem;
            color: rgba(255, 255, 255, 0.6);
            border: 0 none;
            background: transparent;
            border-radius: 50%;
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        }

        .calendarForChrome .p-datepicker .p-datepicker-prev:hover {
            color: rgba(255, 255, 255, 0.6);
            border-color: transparent;
            background: rgba(255, 255, 255, 0.04);
        }

        .calendarForChrome .p-datepicker .p-datepicker-next {
            order: 3;
            width: 2.5rem;
            height: 2.5rem;
            color: rgba(255, 255, 255, 0.6);
            border: 0 none;
            background: transparent;
            border-radius: 50%;
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        }

        .calendarForChrome .p-datepicker .p-datepicker-next:hover {
            color: rgba(255, 255, 255, 0.6);
            border-color: transparent;
            background: rgba(255, 255, 255, 0.04);
        }


        .calendarForChrome .p-disabled,
        .p-component:disabled {
            opacity: 0.38;
        }

        .calendarForChrome .p-datepicker table th {
            color: rgba(255, 255, 255, 0.38);
            font-weight: 400;
            font-size: 0.875rem;
            border-bottom: 1px solid hsla(0, 0%, 100%, 0.12);
            padding: 0.5rem;
        }

        .calendarForChrome .p-datepicker table td {
            padding: 0.5rem;
        }

        .calendarForChrome .p-datepicker table td.p-datepicker-today>span {
            box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.38);
        }

        .calendarForChrome .p-datepicker table td>span.p-highlight {
            color: #CE93D8;
            background: rgba(206, 147, 216, 0.16);
        }

        .calendarForChrome .p-datepicker td>span {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            transition: none;
            border: 1px solid transparent;
        }

        .calendarForChrome .p-datepicker td>span:hover {
            background: rgba(255, 255, 255, 0.04);
        }

        .calendarForChrome .p-datepicker .p-monthpicker .p-monthpicker-month {
            padding: 0.5rem;
            transition: none;
            border-radius: 4px;
        }

        .calendarForChrome .p-monthpicker-month {
            width: 33.3%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            overflow: hidden;
            position: relative;
        }

        .calendarForChrome .p-datepicker .p-yearpicker .p-yearpicker-year {
            padding: 0.5rem;
            transition: none;
            border-radius: 4px;
        }

        .calendarForChrome .p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):not(.p-highlight):hover {
            background: rgba(255, 255, 255, 0.04);
        }

        .calendarForChrome .p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):not(.p-highlight):hover {
            background: rgba(255, 255, 255, 0.04);
        }
    }
}

[data-theme="auto"] {
    @media (prefers-color-scheme: light) {
        .menuForChrome {
            background: #ffffff;
            border: 0 none;
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
            padding: 0.5rem 0;
            color: rgba(0, 0, 0, 0.87);
            border-radius: 4px;
            width: 12.5rem;
        }

        .menuForChrome>.p-menu-list>.p-menuitem>.p-menuitem-link {
            padding: 1rem 1rem;
            color: rgba(0, 0, 0, 0.6);
            border-radius: 0;
            transition: none;
            user-select: none;
        }

        .menuForChrome>.p-menu-list>.p-menuitem>.p-menuitem-link:hover {
            background: rgba(0, 0, 0, 0.04);
        }

        .menuForChrome>.p-menu-list>.p-menuitem>.p-menuitem-link>.p-menuitem-icon {
            color: rgba(0, 0, 0, 0.6);
            margin-right: 0.5rem;
        }

        .calendarForChrome .p-datepicker {
            padding: 0.5rem;
            background: #ffffff;
            color: rgba(0, 0, 0, 0.87);
            border: 1px solid #e5e5e5;
            border-radius: 4px;
        }

        .calendarForChrome .p-datepicker .p-datepicker-header {
            padding: 0.5rem;
            color: rgba(0, 0, 0, 0.87);
            background: #ffffff;
            font-weight: 500;
            margin: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }


        .calendarForChrome .p-datepicker .p-datepicker-title {
            margin: 0 auto 0 0;
            order: 1;
            color: rgba(0, 0, 0, 0.87);
            font-weight: 500;
            line-height: 2.5rem;
        }

        .calendarForChrome .p-datepicker .p-datepicker-title .p-datepicker-month {
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
            font-weight: 500;
            padding: 0.5rem;
            margin-right: 0.5rem;
        }

        .calendarForChrome .p-datepicker .p-datepicker-title .p-datepicker-month:hover {
            color: #673AB7;
        }

        .calendarForChrome .p-datepicker .p-datepicker-title .p-datepicker-year {
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
            font-weight: 500;
            padding: 0.5rem;
            margin-right: 0.5rem;
        }

        .calendarForChrome .p-datepicker .p-datepicker-title .p-datepicker-year:hover {
            color: #673AB7;
        }

        .calendarForChrome .p-datepicker .p-datepicker-prev {
            order: 2;
            width: 2.5rem;
            height: 2.5rem;
            color: rgba(0, 0, 0, 0.87);
            border: 0 none;
            background: transparent;
            border-radius: 50%;
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        }

        .calendarForChrome .p-datepicker .p-datepicker-prev:hover {
            color: rgba(0, 0, 0, 0.87);
            border-color: transparent;
            background: rgba(0, 0, 0, 0.04);
        }

        .calendarForChrome .p-datepicker .p-datepicker-next {
            order: 3;
            width: 2.5rem;
            height: 2.5rem;
            color: rgba(0, 0, 0, 0.87);
            border: 0 none;
            background: transparent;
            border-radius: 50%;
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        }

        .calendarForChrome .p-datepicker .p-datepicker-next:hover {
            color: rgba(0, 0, 0, 0.87);
            border-color: transparent;
            background: rgba(0, 0, 0, 0.04);
        }


        .calendarForChrome .p-disabled,
        .p-component:disabled {
            opacity: 0.38;
        }

        .calendarForChrome .p-datepicker table th {
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            color: rgba(0, 0, 0, 0.38);
            font-weight: 400;
            font-size: 0.875rem;
            padding: 0.5rem;
        }

        .calendarForChrome .p-datepicker table td {
            padding: 0.5rem;
        }

        .calendarForChrome .p-datepicker table td.p-datepicker-today>span {
            background: #ffffff;
            color: rgba(0, 0, 0, 0.87);
            border-color: rgb(0, 0, 0);
        }

        .calendarForChrome .p-datepicker table td>span.p-highlight {
            color: #673AB7;
            background: rgba(103, 58, 183, 0.12);
        }

        .calendarForChrome .p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
            background: rgba(0, 0, 0, 0.04);
        }

        .calendarForChrome .p-datepicker td>span {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            transition: none;
            border: 1px solid transparent;
        }

        .calendarForChrome .p-datepicker td>span:hover {
            background: rgba(0, 0, 0, 0.04);
        }

        .calendarForChrome .p-datepicker .p-monthpicker .p-monthpicker-month {
            padding: 0.5rem;
            transition: none;
            border-radius: 4px;
        }

        .calendarForChrome .p-monthpicker-month {
            width: 33.3%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            overflow: hidden;
            position: relative;
        }

        .calendarForChrome .p-datepicker .p-yearpicker .p-yearpicker-year {
            padding: 0.5rem;
            transition: none;
            border-radius: 4px;
        }

        .calendarForChrome .p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):not(.p-highlight):hover {
            background: rgba(0, 0, 0, 0.04);
        }

        .calendarForChrome .p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):not(.p-highlight):hover {
            background: rgba(0, 0, 0, 0.04);
        }
    }
}

[data-theme="dark"] {
    .menuForChrome {
        background: #2b2b2b;
        border: 0 none;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
        padding: 0.5rem 0;
        color: rgba(255, 255, 255, 0.87);
        border-radius: 4px;
        width: 12.5rem;
        font-size: 1rem;
        font-weight: normal;
    }

    .menuForChrome>.p-menu-list>.p-menuitem>.p-menuitem-link {
        padding: 1rem 1rem;
        color: rgba(255, 255, 255, 0.87);
        border-radius: 0;
        transition: none;
        user-select: none;
    }

    .menuForChrome>.p-menu-list>.p-menuitem>.p-menuitem-link:hover {
        background: rgba(255, 255, 255, 0.04)
    }

    .menuForChrome>.p-menu-list>.p-menuitem>.p-menuitem-link>.p-menuitem-icon {
        color: rgba(255, 255, 255, 0.6);
        margin-right: 0.5rem;
    }
}

[data-theme="light"] {
    .menuForChrome {
        background: #ffffff;
        border: 0 none;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
        padding: 0.5rem 0;
        color: rgba(0, 0, 0, 0.87);
        border-radius: 4px;
        width: 12.5rem;
    }

    .menuForChrome>.p-menu-list>.p-menuitem>.p-menuitem-link {
        padding: 1rem 1rem;
        color: rgba(0, 0, 0, 0.6);
        border-radius: 0;
        transition: none;
        user-select: none;
    }

    .menuForChrome>.p-menu-list>.p-menuitem>.p-menuitem-link:hover {
        background: rgba(0, 0, 0, 0.04);
    }

    .menuForChrome>.p-menu-list>.p-menuitem>.p-menuitem-link>.p-menuitem-icon {
        color: rgba(0, 0, 0, 0.6);
        margin-right: 0.5rem;
    }

    .calendarForChrome .p-datepicker {
        padding: 0.5rem;
        background: #ffffff;
        color: rgba(0, 0, 0, 0.87);
        border: 1px solid #e5e5e5;
        border-radius: 4px;
    }

    .calendarForChrome .p-datepicker .p-datepicker-header {
        padding: 0.5rem;
        color: rgba(0, 0, 0, 0.87);
        background: #ffffff;
        font-weight: 500;
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .calendarForChrome .p-datepicker .p-datepicker-title {
        margin: 0 auto 0 0;
        order: 1;
        color: rgba(0, 0, 0, 0.87);
        font-weight: 500;
        line-height: 2.5rem;
    }

    .calendarForChrome .p-datepicker .p-datepicker-title .p-datepicker-month {
        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        font-weight: 500;
        padding: 0.5rem;
        margin-right: 0.5rem;
    }

    .calendarForChrome .p-datepicker .p-datepicker-title .p-datepicker-month:hover {
        color: #673AB7;
    }

    .calendarForChrome .p-datepicker .p-datepicker-title .p-datepicker-year {
        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        font-weight: 500;
        padding: 0.5rem;
        margin-right: 0.5rem;
    }

    .calendarForChrome .p-datepicker .p-datepicker-title .p-datepicker-year:hover {
        color: #673AB7;
    }

    .calendarForChrome .p-datepicker .p-datepicker-prev {
        order: 2;
        width: 2.5rem;
        height: 2.5rem;
        color: rgba(0, 0, 0, 0.87);
        border: 0 none;
        background: transparent;
        border-radius: 50%;
        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    }

    .calendarForChrome .p-datepicker .p-datepicker-prev:hover {
        color: rgba(0, 0, 0, 0.87);
        border-color: transparent;
        background: rgba(0, 0, 0, 0.04);
    }

    .calendarForChrome .p-datepicker .p-datepicker-next {
        order: 3;
        width: 2.5rem;
        height: 2.5rem;
        color: rgba(0, 0, 0, 0.87);
        border: 0 none;
        background: transparent;
        border-radius: 50%;
        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    }

    .calendarForChrome .p-datepicker .p-datepicker-next:hover {
        color: rgba(0, 0, 0, 0.87);
        border-color: transparent;
        background: rgba(0, 0, 0, 0.04);
    }


    .calendarForChrome .p-disabled,
    .p-component:disabled {
        opacity: 0.38;
    }

    .calendarForChrome .p-datepicker table th {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        color: rgba(0, 0, 0, 0.38);
        font-weight: 400;
        font-size: 0.875rem;
        padding: 0.5rem;
    }

    .calendarForChrome .p-datepicker table td {
        padding: 0.5rem;
    }

    .calendarForChrome .p-datepicker table td.p-datepicker-today>span {
        background: #ffffff;
        color: rgba(0, 0, 0, 0.87);
        border-color: rgb(0, 0, 0);
    }

    .calendarForChrome .p-datepicker table td>span.p-highlight {
        color: #673AB7;
        background: rgba(103, 58, 183, 0.12);
    }

    .calendarForChrome .p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
        background: rgba(0, 0, 0, 0.04);
    }

    .calendarForChrome .p-datepicker td>span {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        transition: none;
        border: 1px solid transparent;
    }

    .calendarForChrome .p-datepicker td>span:hover {
        background: rgba(0, 0, 0, 0.04);
    }

    .calendarForChrome .p-datepicker .p-monthpicker .p-monthpicker-month {
        padding: 0.5rem;
        transition: none;
        border-radius: 4px;
    }

    .calendarForChrome .p-monthpicker-month {
        width: 33.3%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
        position: relative;
    }

    .calendarForChrome .p-datepicker .p-yearpicker .p-yearpicker-year {
        padding: 0.5rem;
        transition: none;
        border-radius: 4px;
    }

    .calendarForChrome .p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):not(.p-highlight):hover {
        background: rgba(0, 0, 0, 0.04);
    }

    .calendarForChrome .p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):not(.p-highlight):hover {
        background: rgba(0, 0, 0, 0.04);
    }
}