html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--surface-ground);
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-part='decrement-trigger'],
[data-part='increment-trigger'] {
  height: 38px !important;
  width: 38px !important;
  font-size: 24px;
  padding: 0 !important;
  color: black !important;
  font-weight: 200;
}

[data-part='decrement-trigger'][data-disabled],
[data-part='increment-trigger'][data-disabled] {
  opacity: .25 !important;
}

[data-part='input'] {
  height: 38px !important;
  width: 38px !important
}

#menu-lang {
  top: 60px !important
}

.btn-header {
  /* position: relative; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-secondary);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: background-color .2s;
}

.btn-header:hover {
  color: var(--text-color);
  background-color: var(--surface-hover);
}

.p-submenu-header {
  font-weight: 900 !important;
}

.logo {
  width: auto;
}

@media (min-width: 992px) {
  .logo {
    width: 300px;
  }
}