@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

[data-part='decrement-trigger'],
[data-part='increment-trigger'] {
  height: 38px !important;
  width: 38px !important;
  font-size: 24px;
  padding: 0 !important;
  color: black !important;
  font-weight: 200;
}

[data-part='decrement-trigger'][data-disabled],
[data-part='increment-trigger'][data-disabled] {
  opacity: .25 !important;
}

[data-part='input'] {
  height: 38px !important;
  width: 38px !important
}

a,
.btn-navigation {
  @apply text-blue-600;
}

.btn-navigation:hover {
  @apply text-blue-800;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none;
}

.primary-button:hover {
  @apply bg-amber-400;
}

.primary-button:active {
  @apply bg-amber-500;
}

.default-button {
  @apply rounded bg-gray-100 py-2 px-4 text-black shadow outline-none;
}

.default-button:hover {
  @apply bg-gray-200;
}

.default-button:active {
  @apply bg-gray-300;
}

.to-cart-button {
  @apply rounded bg-gray-700 py-2 px-4 text-white shadow outline-none;
}

.to-cart-button:hover {
  @apply bg-gray-800;
}

.to-cart-button:active {
  @apply bg-gray-600;
}

input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-indigo-300;
}

input:focus,
select:focus,
textarea:focus {
  @apply ring;
}

.dropdown-link {
  @apply flex p-2;
}

.dropdown-link:hover {
  @apply bg-gray-200;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}

.list-card>li {
  display: flex;
}

.list-card>li span {
  margin-right: 7px;
}

.btn {
  cursor: pointer;
  @apply text-blue-600;
}

.btn:hover {
  @apply text-blue-800;
}

.total-card {
  height: auto;
}

@media (min-width: 992px) {
  .total-card {
    height: 170px;
  }
}

.progresive {
  object-fit: cover;
  object-position: center;
}

.loading {
  filter: blur(10px);
}

.loaded {
  filter: blur(0);
  transition: filter 0.07s linear;
}

.notfound_404 {
  display: inline-block;
  margin: 0px 20px 0px 0px;
  padding: 0px 23px 0px 0px;
  font-size: 24px;
  font-weight: 500;
  vertical-align: top;
  line-height: 49px;
  border-right: 1px solid black;
}

.alert-error {
  @apply my-3 p-3 rounded-lg bg-red-100 text-red-700
}

.alert-success {
  @apply my-3 p-3 rounded-lg bg-green-100 text-green-700
}

.on {
  color: rgb(217 119 6);
}

.off {
  color: #ccc;
}

.marker {
  @apply bg-amber-300;
}